body {
  background-image: url(image/3.jpg);
}
a {
  color: green;
}
.main {
  background-image: url(image/4.jpg);
  background-size: 100%;
  color: white;
  margin:auto;
  margin-top: 300px;
  height: 170px;
  width: 180px;
  padding-top: 70px;
  padding-left: 60px;
  padding-right: 50px;
  box-shadow: 0px 12px 12px 1px #000000;
  background-repeat: no-repeat;
}

.text {
  width: 300px;
  margin-top: 0px;
  margin-bottom: 18px;
  font: 18px/20px Brush Script MT, Brush Script Std, cursive;
  font-size:100%
}

.log {
  margin-left: 2px;
  margin-right: 15px;
  margin-top: 2px;
}

.vvod{

  width:170px;
  opacity: 0.3;
}

#moy {
  color: #ce4f4f;
}
#in {
  height:30px;
  width:70px;
  margin-left: 50px;
  margin-top: 10px;
  box-shadow: 0px 3px 3px 1px #000000;
}
